html,body{
  background-color: #7945FF;
  @media screen and (min-width:425px) {
    background-color: #5C2DD5;
  }
}
body {
  margin: 0;
  font-family: 'Space Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
